﻿@{
    ViewBag.Title = "AnchorDetailPage";
}
@using DBConnection.DTO;
@model UrlListPage_DTO
<header>
    <style>
        #parrent-div {
            width:80%;
        }
    </style>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="~/Script/jquery-3.2.1.min.js"></script>
</header>
<h2>Anchor Detail Page</h2>

<div id="parrent-div">
    <span>URL:</span><span ><a href="@Model.UrlValue">@Model.UrlValue</a></span>
    <br />
    <br />
    <table class="w3-table w3-bordered w3-border">
        <tbody>
            <tr>
                <td>Title</td>
                <td><span>@Model.PageTitle</span></td>
            </tr>
            <tr>
                <td>meta description</td>
                <td><span>@Model.MetaDescription</span></td>
            </tr>
        </tbody>
    </table>
    <br />
    <br />
    <table id="record-table" class="w3-table w3-bordered w3-border">
        <tbody>
            <tr>
                <th>ID</th>
                <th>Anchor Text</th>
                <th>Anchor Type</th>
                <th>Anchor URL</th>
            </tr>
            @if(Model.ListAnchor.Count > 0)
            {
                int count = Model.ListAnchor.Count > 10 ? 10 : Model.ListAnchor.Count;
                for (int i = 0; i < count; i++)
                {
                     <tr>
                    <td>@Model.ListAnchor[i].ID</td>
                    <td>@Model.ListAnchor[i].AnchorText</td>
                    <td>@Model.ListAnchor[i].AnchorType</td>
                    <td><a style="color:blue;" href="@Model.ListAnchor[i].AnchorUrl">@Model.ListAnchor[i].AnchorUrl</a></td>
                </tr>
                }
            }
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td><a style="color:blue;" href="#" onclick="changePage(-1);"><<</a> <a style="color:blue;" href="#" onclick="changePage(1);">>></a></td>
            </tr>
        </tbody>
    </table>
</div>
<script type="text/javascript">
    var currentPage=1;
    var pageSize = 10;
    var mainData = @Html.Raw(Json.Encode(Model.ListAnchor));

    function changePage(input)
    {
        currentPage = currentPage+input;
        if(currentPage <1)
            currentPage = 1;
        
        var ListDataView = new Array();
        var maxNumRaw = currentPage*pageSize;
        if(maxNumRaw > mainData.length)
        {
            currentPage -=1;
            for(var i= currentPage*pageSize;i<mainData.length;i++)
            {
                ListDataView.push(mainData[i]);
            }
        }
        else
        {
            for(var i = maxNumRaw-pageSize;i<maxNumRaw;i++)
            {
                ListDataView.push(mainData[i]);
            }
        }
        buildTableByData(ListDataView);
    }
    function buildTableByData(data)
    {
        var strTable = "<tbody>"+
            "<tr>"+
                "<th>ID</th>"+
                "<th>Anchor Text</th>"+
                "<th>Anchor Type</th>"+
                "<th>Anchor URL</th>"+
            "</tr>";
        for(var i = 0;i<data.length;i++)
        {
            strTable+=  "<tr>"+
                            "<td>"+data[i].ID+"</td>"+
                            "<td>"+data[i].AnchorText+"</td>"+
                            "<td>"+data[i].AnchorType+"</td>"+
                            "<td><a style='color:blue;' href='"+data[i].AnchorUrl+"'>"+data[i].AnchorUrl+"</a></td>"+
                        "</tr>";
        }
        strTable+=" <tr>"+
                        "<td></td>"+
                        "<td></td>"+
                        "<td></td>"+
                        "<td><a style='color:blue;' href='#' onclick='changePage(-1);'><<</a> <a style='color:blue;' href='#' onclick='changePage(1);'>>></a></td>"+
                    "</tr>";
        $("#record-table").html(strTable);
    }
</script>
