﻿@{
    ViewBag.Title = "TopPage";
}
<header>
    <style>
        #parrent-table {
            width:80%;
            height:500px;
        }
        .table-style {
            padding-left:10%;
            padding-top:20%;
        }
        .red-text {
            color:red;
        }
        .green-text {
            color:green;
        }
        .blue-text {
            color:blueviolet;
        }
    </style>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="~/Script/jquery-3.2.1.min.js"></script>
    @*<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>*@
    <script type="text/javascript">
        var interVall = null;
        $(document).ready(function () {
            interVall = setInterval(getStatusFromServer,1000);
        });

        function submitKeyWord()
        {
            clearInterval(interVall);
            $.ajax({
                url: '/home/SubmitInputKeyWord',
                data: { 'keywordData': $("#txt_input").val() },
                type: "GET",
                //contentType: "application/json",
                cache: false,
                success: function (data) {
                    if (data.Success)
                    {
                        buildTableFormData(data.Data);
                    }
                    if (data.Messages.length > 0)
                    {
                        alert(data.Messages);
                    }
                    // set get status from server
                    interVall = setInterval(getStatusFromServer, 1000);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    $('#lblCommentsNotification').text("Error encountered while saving the comments.");
                }
            });
        }
        function buildTableFormData(data)
        {
            var tableString = "<tbody>" +
                                    "<tr>" +
                                        "<th style='width:10%'>ID</th>" +
                                        "<th style='width:30%'>KWD</th>" +
                                        "<th style='width:30%'>Status</th>" +
                                        "<th style='width:30%'>Input date</th>" +
                                    "</tr>";
            if (data.length > 0)
            {
                for (var i = 0; i < data.length; i++)
                {
                    tableString += "<tr>";
                    tableString += "<td>"+data[i].ID+"</td>";
                    tableString += "<td>" + data[i].KeyWord + "</td>";
                    switch (data[i].Status)
                    {
                        case 1: tableString += "<td class='green-text'>" + data[i].StringStatus + "</td>"; break;
                        case 2: 
                        case 3: tableString += "<td class='red-text'> " + data[i].StringStatus + "</td>"; break;
                        case 4: tableString += "<td class='blue-text'> <a href='/home/UrlListPage/"+data[i].ID+"'>" + data[i].StringStatus + "</a></td>"; break;
                    }
                    tableString += "<td>"+data[i].InputDate+"</td>";
                    tableString += "</tr>";
                }

                tableString += "</tbody>";
            }
            $("#record-table").html(tableString);
        }

        function getStatusFromServer()
        {
            $.ajax({
                url: '/home/GetServerStatus',
                type: "GET",
                //contentType: "application/json",
                cache: false,
                success: function (data) {
                    if (data.Success) {
                        buildTableFormData(data.Data);
                    }
                    if (data.Messages.length > 0) {
                        alert(data.Messages);
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    $('#lblCommentsNotification').text("Error encountered while saving the comments.");
                }
            });
        }
    </script>
</header>
<h2>TopPage</h2>
<table id="parrent-table">
    <tbody>
        <tr>
            <td style="width:30%">
                <table class="table-style">
                    <tr>
                        <td>
                            <textarea style="height:70px;width:180px" id="txt_input" placeholder="Input keyword here" ></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:center;">
                            <input type="button" style=" margin-top:10px;" value="Regist" onclick="submitKeyWord();" />
                        </td>
                    </tr>
                </table>
            </td>
            <td style="width:70%">
                <table id="record-table" class="w3-table w3-bordered w3-border">
                    <tbody>
                        <tr>
                            <th style="width:10%">ID</th>
                            <th style="width:30%">KWD</th>
                            <th style="width:30%">Status</th>
                            <th style="width:30%">Input date</th>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
